Users:
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% _.each(users, function(user){ %>
   <tr>
     <td>
       <i class="icon-user"></i>
     </td>
     <td>
      <%= user.get('name') %>
     </td>
     <td>
      <%= user.get('email') %>
     </td>
     <td style="text-align:right">
       <button id="<%= user.get('id') %>" class="btn btn-danger btn-small deleteUser" href="javascript:void(0)">
        <i class="icon-trash icon-white"></i></button>
        <button id="edit_user_<%= user.get('id') %>" class="btn btn-warning btn-small editUser" href="javascript:void(0)">
        <i class="icon-pencil icon-white"></i></button>
     </td>             
   </tr>
  <% }); %>
  </tbody>
</table>
<form class="well form-inline">
  <legend>Create User</legend>
  <input id="userName" class="input-medium" placeholder="user name" type="text"/>
  <input id="userEmail" class="input-medium" placeholder="user email" type="text"/>
  <button id="createUserButton" class="btn btn-success createUser" href="javascript:void(0)">
    <i class="icon-user icon-white"></i>
    Create</button>
</form>   